Hi! </br>
<p> {{ sender }} has sent you an invitation to join "{{ groupName }}" to share your emotions. You will need <a href='{{ link }}'>to install app </a> to get started.</p>
<p>We hope you enjoy the experience.</p>
<p>If this email is sent to you by mistake, please skip it.</p>
<p>Thank you!</p>
<p>EC Team</p>
