Hi {{entity.name}}. </br>
<p>You recently requested to reset your password for your account on Emotional Clock App. You can use this rescue password to login and change your password in the app: <span style="color: red; font-weight: bold">{{newPassword}}</span></p>
<p>If you did not send the request, please ignore this email or reply to let us know.</p>
<p>Thank you!</p>
<p>Sophie and the EC Team</p>
